body,html {
    background-color: white;
}
ul.progress-bar {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  min-width: 320px;
  max-width: 1024px;
  margin: 8px auto;
}

li.section {
  display: inline-block;
  padding-top: 45px;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  color: gray;
  vertical-align: top;
  position: relative;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 320px;
    max-width: 1024px;
    margin: 8px auto;
}

li.section:before {
  content: 'x';
  position: absolute;
  top: 2px;
  left: calc(50% - 15px);
  z-index: 1;
  width: 30px;
  height: 30px;
  color: white;
  border: 2px solid white;
  border-radius: 17px;
  line-height: 30px;
  background: gray;
}
.status-bar {
  height: 2px;
  background: gray;
  position: relative;
  top: 20px;
  margin: 0 auto;
}
.current-status {
  height: 2px;
  width: 0;
  border-radius: 1px;
  background: mediumseagreen;
  min-width: 320px;
    max-width: 1024px;
    margin: 8px auto;
}

@keyframes changeBackground {
  from {background: gray}
  to {background: mediumseagreen}
}

li.section.visited:before {
  content: '\2714';
  animation: changeBackground .5s linear;
  animation-fill-mode: forwards;
}

li.section.visited.current:before {
  box-shadow: 0 0 0 2px mediumseagreen;
}


.leftside, .rightside {
  height: 50vh;
  width: 100%;
  color: orange;
  font-weight: bold;
	font-size:40px;
}

@media screen and (min-width:768px){
  .leftside, .rightside {
    height: 100vh;
  }
}

.leftside {
  background-image: url(img/school.png);
  background-size: cover;  
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
  opacity: 0.4;
}

.rightside {
  background-image: url(img/blueprint.jpg);
  background-size: cover; 
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
  opacity: 0.4;
}

.rightside:hover{
  background-position : xem yem;
  opacity: 1;
}

.leftside:hover{
  background-position : xem yem;
  opacity: 1;
}



/*------------------pied de page------------------*/
div.pied{
	text-align: center;
	background-color: black;
	height: 80px;
	color: white;
	padding-top: 30px;
}

.pied li{
	list-style-type: none;
	display: inline;

}
.pied a{
	color: white;
	transition: 0.3s;
}

.pied a:hover{
	color:  #FF8000;
	text-decoration: none;
}

/*------------------fin pied de page------------------*/

#lien  {
  color: orange;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
